# Application
APP_NAME=AquaSense AI
APP_VERSION=1.0.0
DEBUG=False

# API
API_HOST=0.0.0.0
API_PORT=8000

# Database
DATABASE_URL=sqlite+aiosqlite:///./aquasense.db
SYNC_DATABASE_URL=sqlite:///./aquasense.db

# MLflow
MLFLOW_TRACKING_URI=./mlruns
MLFLOW_EXPERIMENT_NAME=AquaSense_Water_Quality

# Paths
DATA_PATH=./data/raw/water_potability.csv
MODELS_PATH=./models/
PROCESSED_DATA_PATH=./data/processed/

# Model Hyperparameters & Split
BEST_MODEL=xgboost
RANDOM_STATE=42
TEST_SIZE=0.20
CV_FOLDS=5
